---
import Data from '../data/home/home.json';
import { Picture } from 'astro:assets';
---
<div class="col-md-12 p-3 text-center">
  <Picture
    src={Data.intro.image}
    alt={Data.intro.text}
    formats={['avif', 'webp']}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px`}
    width="1400"
    height="600"
    class="img-fluid"
    decoding="async"
  />
  <div class="col-md-10 mx-auto">
<h2><strong><a href="/">{Data.intro.title}</a></strong></h2>
<p>{Data.intro.text}</p>
</div>
</div>